<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="start center" routerLink='/' style="cursor: pointer;">
    <img src="https://getmateria.com/assets/img/logo.png">
    <h3>Materia</h3>
  </div>
  <span fxFlex></span>
  <div *ngIf="isConnected$ | async" fxLayout="column">
    <button mat-raised-button [matMenuTriggerFor]="menu">
      {{ email$ | async}}
    </button>
    <mat-menu #menu="matMenu" overlapTrigger="false">
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
