<div fxLayout="column">
  <mat-toolbar color="primary">
    Change your password
  </mat-toolbar>
  <form [formGroup]="form" fxLayout="column" (submit)="confirm()">
    <mat-form-field>
      <input matInput type="password" placeholder="Old password" formControlName="old_password" required>
      <mat-error *ngIf="form.controls['old_password']?.errors?.required">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="New password" formControlName="new_password" required>
      <mat-error *ngIf="form.controls['new_password']?.errors?.required">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm new password" formControlName="new_password_2" required>
      <mat-error *ngIf="form.controls['new_password_2']?.errors?.required">This field is required</mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="submit">CONFIRM</button>
      <button mat-raised-button mat-dialog-close="cancel" type="button">CANCEL</button>
    </div>
  </form>
</div>
