<div fxLayout="column" fxLayoutAlign="center center">
  <img src="https://getmateria.com/assets/img/logo.png" >
  <h1 class="title">Materia User Management</h1>
  <h2 class="subtitle">Sample Application</h2>
  <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50px;">
    <ng-container *ngIf="isConnected$ | async; else notConnectedTemplate">
      <button mat-raised-button color="primary" routerLink='/profile'>
        Profile
      </button>
    </ng-container>
    <ng-template #notConnectedTemplate>
      <button mat-raised-button color="primary" routerLink='/signin'>
        Sign in
      </button>
      <span style="font-style: italic; margin: 15px;">Or</span>
      <button mat-raised-button routerLink='/signup'>
        Sign up
      </button>
    </ng-template>
  </div>
</div>
