<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <h2>Reset password</h2>
    <form [formGroup]="form" fxLayout="column" (submit)="confirm()">
      <mat-form-field>
        <input matInput type="password" placeholder="New Password" formControlName="new_password" required>
        <mat-icon matSuffix *ngIf="passwordsMatch" style="color: green;">check</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirm New Password" formControlName="new_password_2" required>
        <mat-icon matSuffix *ngIf="passwordsMatch" style="color: green;">check</mat-icon>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" type="submit">Reset my password</button>
        <button mat-raised-button routerLink="/">Cancel</button>
      </div>
    </form>
  </mat-card>
</div>
