mat-card {
    position: relative;
    margin: 150px;
    width: 250px;
    button {
        margin: 15px 0;
    }
    mat-form-field {
        margin-bottom: 10px;
    }
    mat-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}