<div fxLayout="column">
  <mat-toolbar color="primary">
    Lost Password
  </mat-toolbar>
  <form [formGroup]="form" fxLayout="column" (submit)="confirm()">
    <p>An email with a link to reset your password will be sent</p>
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <mat-error *ngIf="emailControlErrors?.required">This field is required</mat-error>
      <mat-error *ngIf="emailControlErrors?.email">Email must be a valid email address</mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="submit">SEND EMAIL</button>
      <button mat-raised-button mat-dialog-close="cancel" type="button">CANCEL</button>
    </div>
  </form>
</div>
